@page "/coffees"

@inject ICoffeeService CoffeeService

<h1>Coffees</h1>


@if (coffees is null)
{
    <span>Loading..</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coffee in coffees)
            {
                <tr>
                    <td>@coffee.Name</td>
                    <td>@coffee.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Coffee>? coffees = null;
    protected override async Task OnInitializedAsync()
    {
        coffees = await CoffeeService.LoadCoffeesAsync();
    }

}
